* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global / */
.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0px 120px;
}

.bg-white {
  background-color: white;
}

.button {
  padding: 16px 12px;
  border-radius: 4px;
  /* border: none; */
  color: white;
  cursor: pointer;
}
.button.primary {
  background-color: rgba(70, 145, 101, 1);
  border: none;
}
.button.outline {
  background-color: transparent;
  border: 1px solid white;
}

.text-primary {
  color: rgba(48, 184, 104, 1);
}
.text-gray {
  color: rgba(255, 255, 255, 1);
}

.text-dark{
    color: #001931;
}

.gap-md{
    gap: 16px;
}

.d-flex{
    display: flex;
}

/* Header  */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 92px;
}

.navbar .logo {
  width: 139px;
  height: 60px;
}

.navbar .menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar .menu ul li a {
  text-decoration: none;
  padding: 16px;
}

/* Banner  */
.banner-container {
  background: url("./assets/hero-bg.png");
  height: 674px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 115px;  
}

.early-access button {
  padding: 12px 8px;
  border-radius: 1000px;
  font-size: 16px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  font-weight: 84px;
}

.banner-content p{
    line-height: 24px;
    font-size: 18px;
}

.hero-buttons{
    margin-top: 32px;
}

/* Notes section  */

.skill-header{
    text-align: center;
}

.skill-header h2{
    font-size: 48px;
    padding-top: 58px;
    margin-bottom: 16px;
}
.paragraph{
    font-size: 16px;
    font-weight: 400;
}

